{% extends 'layout.html' %}
{% block content %}
    <article class = 'media content-section'>
        <div class = 'media-body'>
            <div class = 'article-metadata'>
                <legend class = 'mr-2 text-color' href='#'>About This Website</legend>
            </div>
            <h3><a class = 'text-color' href='#'>This website is a work in progress.</a></h3>
            <p class = 'article-content'>Eventually, this page will be replaced with the code required to parse bills online. Until then, it is being built to be a blog since that is a good enough starting point to learn the methods.</p>
        </div>
    </article>
{% endblock content %}

